/* Nice Options CSS */

/*
     FILE ARCHIVED ON 13:23:18 Aug 23, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:10:05 Aug 03, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.674
  exclusion.robots: 0.023
  exclusion.robots.policy: 0.009
  esindex: 0.015
  cdx.remote: 21.797
  LoadShardBlock: 45.786 (3)
  PetaboxLoader3.datanode: 133.691 (4)
  load_resource: 401.275
  PetaboxLoader3.resolve: 308.434
*/